<div class="row text-center">
  <div class="col-sm-4">
    <button *ngIf="!userCart" class="form-control" mat-raised-button color="accent" [disabled]="!this.userService.currentUser" (click)="router.navigate(['store'])" >Start Shopping</button>
    <button *ngIf="userCart" class="form-control" mat-raised-button color="accent" [disabled]="!this.userService.currentUser" (click)="router.navigate(['store'])" >Resume Shopping</button>
    <div *ngIf="!this.userService.currentUser" >
      <ngb-alert *ngIf="loginAlert" type="danger" [dismissible]="false" >{{ loginAlert }}</ngb-alert>
      <form [formGroup]="loginForm" method="POST" action="/login">
        <div>
          <mat-form-field>
            <input matInput formControlName="username" placeholder="email:" />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput type="password" formControlName="password" placeholder="password:" />
          </mat-form-field>
        </div>
        <button mat-raised-button (click)="login()" >Login</button>
        <a mat-button color="primary" href="/register" >not register yet?</a>
      </form>
    </div>
    <div *ngIf="this.userService.currentUser" >
      <h4>
        Welcome back {{ this.userService.currentUser.firstName }} {{ this.userService.currentUser.lastName }}
      </h4>
      <b (click)="logout()">log out</b>
    </div>
  </div>
  <div class="col-sm-4">
    <img src="../../../assets/logo.svg" width="100%" />
  </div>
  <div class="col-sm-4">
    <p>We have {{ numberProducts }} available products</p>
    <p>Our customer allready submitted {{ numberOrders }} orders</p>
    <div *ngIf="this.userService.currentUser">
      <h5 class="text-left">Notifications:</h5>
      <p *ngIf="userCart">You have open cart from {{ userCart.production_date }}</p>
      <p *ngIf="lastOrder && !userCart">Your last order was on {{ lastOrder.reservation_date }}</p>
      <p *ngIf="!lastOrder && !userCart">Welcome to your first purchase</p>
    </div>
  </div>
</div>