<mat-horizontal-stepper #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="personalDetailsForm">
      <ng-template matStepLabel>Fill out your details</ng-template>
      <div>
        <mat-form-field>
          <input matInput placeholder="ID" formControlName="id" required>
          <mat-error *ngIf="personalDetailsForm.controls.id.hasError('id_taken')">
            {{ personalDetailsForm.controls.id.errors.id_taken }}
          </mat-error>
          <mat-error *ngIf="personalDetailsForm.controls.id.hasError('required')">
            ID is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput type="email" placeholder="email" formControlName="email" required>
          <mat-error *ngIf="personalDetailsForm.controls.email.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="personalDetailsForm.controls.email.hasError('email')">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput type="password" placeholder="password" formControlName="password" required>
          <mat-error *ngIf="personalDetailsForm.controls.password.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="confirm password" formControlName="confirm_password" required>
          <mat-error *ngIf="personalDetailsForm.controls.password.hasError('required')">
            Password Confirm is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperNext [disabled]='!personalDetailsForm.valid' >Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="adressDetailsForm">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <div>
        <mat-form-field>
          <mat-select formControlName="city" placeholder="Select City">
            <mat-option *ngFor="let city of allCity" [value]="city" >
              {{city}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="adressDetailsForm.controls.city.hasError('required')">
            City is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
          <mat-form-field>
            <input matInput placeholder="Adress" formControlName="adress" required>
            <mat-error *ngIf="adressDetailsForm.controls.adress.hasError('required')">
              Adress is <strong>required</strong>
            </mat-error>
          </mat-form-field>
      </div>
      <div>
          <mat-form-field>
            <input matInput placeholder="First name" formControlName="firstName" required>
            <mat-error *ngIf="adressDetailsForm.controls.firstName.hasError('required')">
              First Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Last Name" formControlName="lastName" required>
            <mat-error *ngIf="adressDetailsForm.controls.lastName.hasError('required')">
              Last Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>          
      </div>
      <div>
        <button mat-button matStepperPrevious >Back</button>
        <button mat-button matStepperNext [disabled]='!adressDetailsForm.valid' >Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
      <mat-card>
        <h3> Your ID: {{ personalDetailsForm.controls.id.value }} </h3>
        <h3> Full Name: {{ adressDetailsForm.controls.firstName.value }} {{ adressDetailsForm.controls.lastName.value }} </h3>
        <h3> Email: {{ personalDetailsForm.controls.email.value }} </h3>
        <br/>
        <h3> City: {{ adressDetailsForm.controls.city.value }} </h3>
        <h3> Adress: {{ adressDetailsForm.controls.adress.value }} </h3>
        
      </mat-card>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="register(stepper)">Register</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>