<div class="container">
  <div class="row">
    <app-cart class="preview-cart col-sm-5" [preview_mode]="true"></app-cart>
    <div class="shipping-details col-sm-5">
      <form [formGroup]="shippingDetails" >
        <div>
          <mat-form-field>
            <input matInput placeholder="City" formControlName="city" (dblclick)="setValue('city')" />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Adress" formControlName="adress" (dblclick)="setValue('adress')" />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="Shipping Date" formControlName="delivery_date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Credit Card" formControlName="payment" />
          </mat-form-field>
        </div>
        <button mat-button [disabled]="!shippingDetails.valid" (click)="placeOrder(content)" >Order</button>
      </form>
  </div>
</div>
</div>

<!-- modal html -->
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Your order has been sent!</h4>
    </div>
    <div class="modal-body">
      <h6>For download the invoice <a>click here.</a></h6>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close()">confirm</button>
    </div>
</ng-template>