<div class="row" >
  <div class="col-sm-4" id="product-view" *ngIf="this.showView" >
    <form [formGroup]="productForm">
      <div>
        <mat-form-field>
          <input matInput placeholder="Name" formControlName="name" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-select  formControlName="category_id" placeholder="Select Category">
            <mat-option *ngFor="let category of allCategories" [value]="category._id" >
              {{category.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-button (click)="openModal(content)" >+</button>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Price" formControlName="price" type="number" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Picture" formControlName="picture" />
        </mat-form-field>
      </div>
      <button mat-button (click)="updateProduct('delete')">DELETE</button>
      <button mat-button (click)="updateProduct('save')">SAVE</button>
    </form>
  </div>
  <div class="col-sm-8 row">
    <form [formGroup]="newProduct" >
        <mat-form-field>
          <input matInput placeholder="Name" formControlName="name" />
        </mat-form-field>
        <mat-form-field>
            <mat-select  formControlName="category_id" placeholder="Select Category">
              <mat-option *ngFor="let category of allCategories" [value]="category._id" >
                {{category.name}}
              </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-button (click)="openModal(content)" >+</button>
        <mat-form-field>
          <input matInput placeholder="Price" formControlName="price" type="number" />
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Picture" formControlName="picture" />
        </mat-form-field>
        <button mat-button (click)="addNewProduct()">ADD NEW PRODUCT</button>
    </form>
    <app-single-product class="col-sm-3" *ngFor="let product of allProducts" [data]="product" (click)="showProduct(product)"></app-single-product>
  </div>
</div>

<!-- new category modal -->
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Category:</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('close')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <mat-card>
        <form [formGroup]="newCategory">
          <mat-form-field>
          <input matInput placeholder="Name" formControlName="name" width="20" />
          </mat-form-field>
        </form>
      </mat-card>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('save')">ADD</button>
    </div>
</ng-template>